beautifulsoup4==4.11.1
Flask==2.1.2
fuzzywuzzy==0.18.0
gensim==4.2.0
Markdown==3.3.6
networkx==2.6.3
nltk==3.7
numpy==1.21.6
pytorch_crf==0.7.2
scikit_learn==1.1.1
spacy==3.3.1
torch==1.12.0+cu113
torchcrf==1.1.0
tqdm==4.64.0
transformers==4.20.1
Flask-Cors==3.0.10